<!-- <ion-header *ngIf="afAuth.authState| async">
  <ion-title>
    <div style="text-align:center">
      <h1>Welcome</h1>
    </div>
    <div style="text-align:center">
      <h1>To</h1>
    </div>
    <div style="text-align:center">
      <h1>Chelpa</h1>
    </div>
  </ion-title>
</ion-header> -->

<ion-content padding>
  <!-- <ion-auto-complete full [dataProvider]="eventSearch" placeholder="eventSearch" (itemSelected)="getEvent($event)"></ion-auto-complete> -->

  <section *ngIf="afAuth.authState | async; let user; else phForm">
    <form [formGroup]="rideDetails" (ngSubmit)="submitForm(rideDetails.value)">
      <ion-list>
        <ion-auto-complete formControlName="from" [dataProvider]="autoComplete" [options]="{ placeholder : 'from' }"></ion-auto-complete>
        <ion-item *ngIf="rideDetails.controls['from'].hasError('required') && rideDetails.controls['from'].touched">
          <p> *This field is required</p>
        </ion-item>

        <ion-auto-complete formControlName="to" [dataProvider]="autoComplete" [options]="{ placeholder : 'to' }"></ion-auto-complete>

        <ion-item *ngIf="rideDetails.controls['to'].hasError('required') && rideDetails.controls['to'].touched">
          <p> *This field is required</p>
        </ion-item>

        <ion-item>
          <ion-label>
            Time
          </ion-label>
          <ion-datetime formControlName="time" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>

        <!-- <ion-item> -->
        <ion-item>
          <ion-label>Preferred way of transportation</ion-label>
          <ion-select [(ngModel)]="transportationOption" formControlName="transportationOption" (ionChange)="toggle(transportationOption)">
            <ion-option value="drive">I drive</ion-option>
            <ion-option value="taxi">Taxi/Uber/Lyft</ion-option>
            <ion-option value="publicTransportation">Public Transportation</ion-option>
            <ion-option value="genesis">Walk</ion-option>
          </ion-select>
        </ion-item>

        <div *ngIf=toggleOption>
          <ion-item>
            <ion-label>
              Price to offer
            </ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Guest Numbers
            </ion-label>
            <ion-input type="number" formControlName="guestNumbers"></ion-input>
          </ion-item>
          <ion-item *ngIf="rideDetails.controls['guestNumbers'].hasError('required') && rideDetails.controls['guestNumbers'].touched && rideDetails.controls['guestNumbers'] == '0'">
            <p> *Guest Numbers can not be zero</p>
          </ion-item>
        </div>

        <button clear ion-button [disabled]="!rideDetails.valid">Submit</button>
      </ion-list>
    </form>
  </section>



  <ng-template #phForm>
    <!-- <form #phoneForm="ngForm" (ngSubmit)="sendCode(phoneForm)">
      <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
      <button ion-button full type="submit">Send Code</button>
    </form> -->

    <div class="gradient">
      <div text-center class="title">
        Welcome to Chelpa
      </div>
      <div class="row">
        <div class="col-md-6 " id="img1">
          <img src="../assets/imgs/firstPageImage.png" class="img-responsive " id="img1">
        </div>
      </div>
      <!-- <div text-center>
              <ion-img width="180" height="180" src="../assets/imgs/firstPageImage.png"></ion-img>  
           </div> -->

      <div padding class="footer">
        <p style="margin-right:20px">
          Please accept Chalpa
          <a href="http://ionicframework.com/docs/v2">terms and conditions</a> by pressing confirm and continue
        </p>
        <button ion-button (click)="phoneConfirmation()">CONFIRM AND CONTINUE</button>
      </div>
    </div>

  </ng-template>
  <div id="re-container"></div>
</ion-content>
<ion-footer *ngIf="afAuth.authState| async">
  <button ion-button full type="submit" (click)="editProfile()">Edit Your Profile</button>
</ion-footer>