page-chelpa-home {
    .centerImage {
        max-height: 50%;
        max-width: 80%;
        margin: 18px 0;
    }
}

ion-content {
    background: linear-gradient(#B0B0B0, #606060); // background-image: url('../assets/imgs/firstPageImage.png');
}

#img1 {
    width: 100%;
    height: auto
}