<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section *ngIf="afAuth.authState | async; let user; else phForm">Welcome</section>
  <ion-auto-complete [dataProvider]="eventSearch" placeholder="eventSearch" (itemSelected)="getEvent($event)"></ion-auto-complete>

  <ion-card *ngIf="toggleEventDetails">

    <ion-item>
      <h2>{{eventsDetails.getDetails().eventName}}</h2>
      <p>{{eventsDetails.getDetails().time}}</p>
    </ion-item>

    <img class="centerImage" src="assets/imgs/logo.png">

    <ion-card-content>
      <p>LOCATION : {{eventsDetails.getDetails().location}}</p>
      <p>GUESTNUMBERS : {{eventsDetails.getDetails().guestNumbers}}</p>
      <p>COSTS : {{eventsDetails.getDetails().costs}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='walk'></ion-icon>
          Looking For A Ride
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='bicycle'></ion-icon>
          Providing Rides
        </button>
      </ion-col>
    </ion-row>

  </ion-card>




  <ion-footer>
    <button ion-button full type="submit" (click)="addNewEvent()">Add New Event</button>
  </ion-footer>
  <ng-template #phForm>
    <form #phoneForm="ngForm" (ngSubmit)="sendCode(phoneForm)">
      <ion-item>
        <ion-label floating>Phone Number</ion-label>
        <ion-input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
      <button ion-button full type="submit">Send Code</button>
    </form>
  </ng-template>
  <div id="re-container"></div>
</ion-content>