<ion-header>
  <ion-title>existing-rides</ion-title>
</ion-header>


<ion-content padding class="action-sheets-basic-page">
  <button ion-button block (click)="openMenu()">
    Sorting By
  </button>

  <ion-list>
    <ion-list-header>Travelling from the event</ion-list-header>
    <div *ngIf="dataReturned">
      <ion-item-sliding *ngFor="let ride of arrayRides ;let i = index;" #item>
        <ion-item>
          <h2>{{ride.From}}</h2>
          <p>{{ride.To}}</p>
          <button ion-button clear item-end (click)="showDetails(ride)">View</button>
          <button ion-button clear item-end (click)="joinRide(ride)">Connect</button>
        </ion-item>

      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button full type="submit" (click)="goToHomePage()">Go Back to Home Page</button>
</ion-footer>