<ion-header>

  <ion-navbar>
    <ion-title>Adding New Event</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form [formGroup]="newEvent" (ngSubmit)="submitForm(newEvent.value)">
    <ion-list>
      <ion-item>
        <ion-label>
          Name of the Event
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="newEvent.controls['name'].hasError('required') && newEvent.controls['name'].touched">
        <p> *Name is required</p>
      </ion-item>

      <ion-item>
        <ion-label>
          Location
        </ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>
      <ion-item *ngIf="newEvent.controls['location'].hasError('required') && newEvent.controls['location'].touched">
        <p> *Location is required</p>
      </ion-item>

      <ion-item>
        <ion-label>
          Time
        </ion-label>
        <ion-datetime formControlName="time" displayFormat="D MMM YYYY" min="1990-02" max="2010-10" [(ngModel)]="webkitReleased"></ion-datetime>
        <ion-datetime formControlName="time" displayFormat="hh:mm A" [(ngModel)]="tokyoTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>
          Guest Numbers
        </ion-label>
        <ion-input type="number" formControlName="guestNumbers"></ion-input>
      </ion-item>
      <ion-item *ngIf="newEvent.controls['guestNumbers'].hasError('required') && newEvent.controls['guestNumbers'].touched">
        <p> *Guest Numbers is required</p>
      </ion-item>

      <ion-item>
        <ion-label>
          Costs
        </ion-label>
        <ion-input type="number" formControlName="costs"></ion-input>
      </ion-item>
      <ion-item *ngIf="newEvent.controls['costs'].hasError('required') && newEvent.controls['costs'].touched">
        <p> *Costs is required{{newEvent.controls['costs']}}</p>
      </ion-item>

      <form formArrayName="items" *ngFor="let item of newEvent.get('items').controls; let i = index;">
        <ion-item [formGroupName]="i">
          <ion-input formControlName="name" placeholder="Field name"></ion-input>
          <ion-input formControlName="description" placeholder="Field description"></ion-input>
          <button ion-button alert color="danger" item-end (click)="removeItem($event,i)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
        <ion-item *ngIf="(newEvent.controls['items'].controls[i].controls['name'].hasError('required') && newEvent.controls['items'].controls[i].controls['name'].touched) || 
        (newEvent.controls['items'].controls[i].controls['description'].hasError('required') && newEvent.controls['items'].controls[i].controls['description'].touched)">
          <p> *Field name and field description is required(You may remove the row to continue)</p>
        </ion-item>
      </form>


      <button ion-button icon-start (click)="addItem($event)">
        <ion-label>
          <ion-icon name="add"></ion-icon>
          Add More Fields
        </ion-label>
      </button>

    </ion-list>

    <button clear ion-button [disabled]="!newEvent.valid">Submit</button>
  </form>
  <ion-auto-complete [dataProvider]="fieldOption"></ion-auto-complete>
</ion-content>